<div class="col-md-6">
    <h2 class="text-center">Add Employee</h2>
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" [(ngModel)]="employee.name" placeholder="Name" name="Name" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="role">Role:</label>
            <input [(ngModel)]="employee.role" placeholder="Role" name="Role" class="form-control" id="role">
        </div>

        <div class="form-group">
            <label for="id">Employee Id:</label>
            <input [(ngModel)]="employee.id" placeholder="Employee Id" name="Employee Id" class="form-control" id="id">
        </div>

        <button class="btn btn-success" (click)="createEmployee()">Create</button>
    </form>
</div>